
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background:white;
  color:#333;
  line-height:1.5;
}
ul{
  list-style: none;
}
a {
  color:#808080;
  text-decoration:none;
}
h1,h2 {
  font-weight:700;
  line-height:1.5;
}
/* nav bar */
.navbar{
  display:grid;
  grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
  grid-template-rows:50px;
  grid-template-areas:"about store . gmail image menu m-logo";
  width:100%;
  height:70px;
  top:0px;
  padding:10px 30px;
}
#images{
  grid-area: image;
}
#about{
  grid-area: about;
}
#store{
  grid-area: store;
}
#gmail{
  grid-area: gmail;
}
#m-logo{
  grid-area: m-logo;
}
#menu{
  grid-area: menu;
}

.navbar li {
  font-size: 18px;
  list-style-type: none;
}

.navbar a {
  padding: 5px 10px;
  margin:0 px;
  font-size:15px;
}
 .navbar a:hover {
  cursor: pointer;
 }


.grid {
  height:23px;
  padding-left:10px;
} 
.m-logo{
  border-radius: 50%;
} 


/*main logo and search bar*/

#main-container {
  min-height:100%;
  margin-top:10em;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}
#main-logo {
  overflow:auto;
  padding-bottom:100px;
}
.logo {
  padding-left:150px;
}
.search-bar {
text-align:center;
width:25em;
border-radius: 30px;
border:1px solid #dcdcdc;
}

input {
  width:90%;
  height:45px;
  border:none;
  font-size:20px;
  outline: none;
}
img.voice{
 margin:-4px;
}
.voice {
  height:25px;
  position:relative;
}

.submit {
  display:flex;
  justify-content: center;
  margin:1.5em ;
  
}
button {
  background-color:#f2f2f2;
  margin:11px 4px;
  padding: 0px 16px;
  height:40px;
  border:none;
  border-radius:5px;
  color:#5F6368;
  cursor:pointer;
}
button:hover {
  animation-name:background-color;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
  border:1px solid #c6c6c6;
  color: rgb(32, 31, 31);
  box-shadow: rgb(136, 134, 134)
}
@keyframes background-color {
  100% {
    background-color:#f7f7f7;
  }
}

/*footer*/
footer {
  
}

#bottom-nav{
  font-size: 13px;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgb(243, 239, 239);;
  margin-left: 0px;
}

.advertising , .business, .how-it-works{
  float:left;
  padding-left:10px;
  padding-right:20px;
  color:gray;
}
.privacy ,.terms, .settings{
  float:right;
  padding-right:20px;
  color:gray;
}